body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
}

.switch-container {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-cover {
    background: grey;
    height: 160px;
    width: 80px;
    box-shadow: 0px 0px 5px darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.switch {
    width: 70%;
    height: 70%;
    background-color: linear-gradiant(darkgrey, grey);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 12px solid darkgray;
}

.on {
    background-color: linear-gradiant(grey, darkgrey);
    border-top: 12px solid darkgray;
    border-bottom: 1px solid black;
}


.screw {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: lightgrey;
}

.bulb-container {
    width: 50%;
}


.wire {
    height: 200px;
    width: 10px;
    background: grey;
    margin: 0 auto;
}

.wire-connection {
    width: 15px;
    height: 15px;
    background: darkgrey;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}

.socket-top {
    width: 50px;
    height: 20px;
    background: grey;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -5px;
    border-bottom: 1px solid black;
}


.socket-bottom {
    width: 50px;
    height: 18px;
    background: grey;
    margin: 0 auto;
    border-bottom: 1px solid black;
    /* margin-top: -5px; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}

.socket-back {
    width: 50px;
    height: 10px;
    background: grey;
    margin: 0 auto;
    opacity: 0.5;
    border-radius: 50%;
    margin-top: -5px;
}

.bulb-top {
    width: 50px;
    height: 20px;
    background: lightgrey;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}

.bulb-bottom {
    width: 75px;
    height: 75px;
    background: lightgrey;
    margin: 0 auto;
    margin-top: -10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bulbon {
    background: lightyellow;
    box-shadow: 0px 10px 100px 10px lightyellow;
}